apiVersion: v1
kind: Config
# clusters refers to the remote service.
clusters:
  - name: sk-auth
    cluster:
      certificate-authority: {{ .Config.SkasFolder }}/skas_auth_ca.crt        # CA for verifying the remote service.
      server: "https://skas-auth.skas-system.svc/v1/tokenReview" # URL of remote service to query. Must use 'https'.
# users refers to the API server's webhook configuration.
users:
  - name: skasapisrv
# kubeconfig files require a context. Provide one for the API server.
current-context: authwebhook
contexts:
  - context:
      cluster: sk-auth
      user: skasapisrv
    name: authwebhook


